.sidebar {
    width: 20%;
    height: 98vh;
    background-color: #fff;
    /* border-right: 1px solid #ccc;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
}

.non-selectable {  
    pointer-events: none;
}

.icon-container {  
    margin-right: 10px;
} 

.Admin-icon{
    width: 16px;
    height: 11px;
    top: 4px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
}

.Tenants-icon{
    width: 20px;
    height: 20px;
    padding: 3px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;

}

.OnboardAdmin-icon{
    width: 17px;
    height: 17px;
    top: 2px;
    left: 2px;
    gap: 0px;
    opacity: 0px;

}
.Role-icon{
    width: 17.5px;
    height: 16.5px;
    top: 2.5px;
    left: 1.5px;
    gap: 0px;
    opacity: 0px;
    margin-right: 2px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    width: 100%;
}

.menu a {
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.menu a .icon {
    margin-right: 10px;
}

.menu a.active { 
    background-color: #0621741A;  
    font-weight: 600; 
}  

.menu-item {  
    display: flex;  
    align-items: center;  
    padding: 15px 20px;  
    color: #000;  
    text-decoration: none;  
    border-bottom: 1px solid #ccc;  
    font-family: 'Segoe UI', sans-serif;  
    font-size: 14px;  
    font-weight: 400; 
    line-height: 22px;  
    text-align: left;  
} 