.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #949494;
}

.main-content {
  background-color: #f4f4f4;
  flex-grow: 1;
  overflow-y: auto; 
  width: 80%;
}
.main-body{
  display: flex;
  flex-direction: row;
}